# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Node.js
node_modules/
npm-debug.log
yarn-error.log
package-lock.json

# Firebase
.firebase/
firebase-debug.log

# Environment variables
.env

# Private user files
private/

# Firebase
google-services.json
lib/firebase_options.dart

# Project folders
app/
back_end/

